.mobileSectionsMenuControl { padding-top: 10px; }

.mobileSectionsMenuControl .sectionsLegendWidget { margin-bottom: 10px; }

.mobileSectionsMenuControl-controlCorner { background-color: hsla(0, 0%, 100%, .8); box-shadow: 0 0 2px hsla(0, 0%, 0%, .35); }

.mobileSectionsMenuControl .sectionsMenuWidget { width: 100%; background-color: hsl(0, 0%, 100%); }

.mobileSectionsMenuControl .sectionsSwiper { width: 100% }
.mobileSectionsMenuControl .sectionsSwiper .swiper-wrapper { padding: 5px 0; }
.mobileSectionsMenuControl .sectionsSwiper .swiper-slide { text-align: center; }
.mobileSectionsMenuControl .sectionsSwiper .swiper-pagination { position: static; margin-top: 5px; }
.mobileSectionsMenuControl .sectionsSwiper .swiper-pagination-bullet { width: 4px; height: 4px; }
.mobileSectionsMenuControl .sectionsSwiper .swiper-pagination .swiper-pagination-bullet-active { background: #000; }
.mobileSectionsMenuControl .sectionsSwiper-icon {
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 24px;
    border-radius: 26px;
    box-shadow: 0 0 2px hsla(0, 0%, 0%, .35);
    color: #454545;
}

.sectionsMenuWidget-sectionButtonIcon { display: inline-block; margin-right: 16px; }
.sectionsMenuWidget-sectionButtonTitle { display: inline-block; }

.sectionsMenuWidget { font-size: 14px; border: 1px solid hsla(0, 0%, 0%, 0.2); }
.sectionsMenuWidget-sectionButton { padding: 8px 16px; border-bottom: 1px solid hsla(0, 0%, 0%, 0.2); }
.sectionsMenuWidget-sectionButton:last-child { border-bottom: none; }
.sectionsMenuWidget-sectionButton_highlighted { background-color: hsla(0, 0%, 0%, 0.1); }
.sectionsMenuWidget-sectionButton_activeSection .sectionsMenuWidget-sectionButtonIcon { color: red; }

.mobileSectionsMenuControl table td { padding: 5px; }
