.radioGroupWidget {
    display: table;
    table-layout: fixed; /* this property makes table cells to have equal width */
    width: 100px; /* width is required. override if necessary */
}

.radioGroupWidget-item {
    display: table-cell;
    width: 1%; /* width is required by table-leyout property (any value) */
    padding: 4px 8px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}

.radioGroupWidget-item_active { font-weight: bold; }
