.radioGroupWidget { display: table; }
.radioGroupWidget-item { display: table-cell; padding: 4px 8px; cursor: pointer; vertical-align: middle; text-align: center;}
.radioGroupWidget-item_active { font-weight: bold; }