.alertItemView { cursor: pointer; font-size: .8em; }
.alertItemView_expanded { box-shadow: 0 0 2px hsla(0, 0%, 0%, .5); }

.alertItemView-collapsed-date { display: inline; font-weight: bold; }
.alertItemView-collapsed-title { display: inline; }
