.eventDetailsView-title { font-weight: bold; margin-bottom: 5px; }
.eventDetailsView-description { }

.eventDetailsView-bottomTable { width: 100%; margin-top: 5px; }
.eventDetailsView-dateCell { width: 50%; text-align: left; vertical-align: middle; }
.eventDetailsView-date { }
.eventDetailsView-bottomIconCell { vertical-align: middle; }
.eventDetailsView-bottomIcon { font-size: 1.5em; }
.eventDetailsView-urlCell { width: 50%; text-align: right; vertical-align: middle; }
.eventDetailsView-url { }