html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open sans', Tahomam sans-serif;
    overflow: hidden;
}

* { outline: none; }

a { color: hsl(235, 90%, 60%); }
.leaflet-container a { color: hsl(235, 90%, 60%); }
.leaflet-bar a { color: hsl(0, 0%, 20%); }

.ui-widget { font-family: 'Open sans', Tahoma, sans-serif; }
.leaflet-control-container { font-family: 'Open sans', Tahoma, sans-serif; }
.leaflet-gmx-copyrights { font-family: 'Open sans', Tahoma, sans-serif; }

.leaflet-gmx-logo { display: none; }

/*.crisisMap-contentContainer { top: 40px; bottom: 0px; z-index: 1; }

.crisisMap-mapPage { width: 100%; height: 100%; }
.leaflet-container { background-image: url('tiny-grid.png'); }

.leaflet-bar { box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.5); border-radius: 4px; }
.leaflet-bar a, .leaflet-bar a:hover { width: 30px; height: 30px; line-height: 30px; }

.leaflet-gmx-zoomParent { top: 0; }
.leaflet-gmx-copyright-location-bg { opacity: 1; }
.leaflet-gmx-copyright-location { box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.5); }
.leaflet-gmx-copyrights { color: hsl(0, 0%, 50%); }
*/

/*.topBarContainerControl, .crisisMap-contentContainer { position: absolute; left: 0; right: 0; }*/
.topBarContainerControl { top: 0px; height: 40px; box-shadow: 0 0 6px hsla(0, 0%, 0%, 0.5); z-index: 2; padding: 0 10px; }
.topBarContainerControl-controlCorner { background: #fff; bottom: initial; height: 40px; z-index: 100500; }
.headerNavBar.leaflet-control, .topBarContainerControl.leaflet-control { margin: 0; }
.headerNavBar, .topBarContainerControl { width: 100%; height: 100%; display: table; }

.crisisMap_withTopBar .leaflet-top { top: 40px; }
.crisisMap_withTopBar .topBarContainerControl-controlCorner { top: 0; }

.headerNavBar-leftContainer, .headerNavBar-centerContainer, .headerNavBar-rightContainer { display: table-cell; vertical-align: middle; text-align: center; }
.headerNavBar-leftContainer, .headerNavBar-rightContainer { width: 40px; }
.headerNavBar-centerContainer { width: auto; }
.headerNavBar-leftContainer .dropdownWidget-dropdown { text-align: left; }

.topBarContainerControl .radioGroupWidget { width: 100%; height: 100%; }
.topBarContainerControl .radioGroupWidget-item { }
.topBarContainerControl .radioGroupWidget-item_active { border-bottom: 2px solid hsla(0, 50%, 50%, 1); border-top: 2px solid hsla(0, 50%, 50%, 0); }
.topBarContainerControl .dropdownWidget { font-size: 14px; }
.topBarContainerControl .radioGroupWidget { max-width: 700px; margin: 0 auto; font-size: 12px; }

/*.leaflet-gmx-copyright-window { background-color: rgba(255, 255, 255, 0.9); border: none; box-shadow: 0 0 8px hsla(0, 0%, 0%, .5); }

.headerLayoutButton { font-size: 16px; color: hsl(0, 0%, 20%); cursor: pointer; }

.crisisMap_desktop .alertsCollectionView { padding: 0px; }
.crisisMap_mobile .alertsCollectionView { padding: 5px; padding-left: 10px; }

.crisisMap_mobile .markerItemViewCollapsed, .crisisMap_mobile .markerItemViewExpanded { font-size: 13px; border: none; }
.crisisMap_mobile .markerItemViewExpanded { border: 1px solid hsl(0, 0%, 80%); }

.leaflet-popup-content-wrapper { border-radius: 4px; }*/

.iconTextWidget { }
.iconTextWidget-icon { display: inline-block; padding-right: 5px; }
.iconTextWidget-text { display: inline-block; }

.mobileButtonsPaneControl .dropdownWidget { background: hsl(0, 100%, 50%); color: #fff; border-radius: 4px; }
.mobileButtonsPaneControl .dropdownWidget-dropdown { color: #000; }
.mobileButtonsPaneControl .dropdownWidget [class^="icon-"] { font-size: 18px; }
.mobileButtonsPaneControl .iconTextWidget-icon { font-size: 18px; padding-right: 10px; }
.mobileButtonsPaneControl .iconTextWidget-text { font-size: 14px; }

.mobileButtonsPaneWidget { display: flex; justify-content: space-around; font-size: 18px; }
.mobileButtonsPaneWidget .labelIconWidget-label { right: -8px; }

.marker-cluster-small { background-color: rgba(255, 226, 163, 0.62); }
.marker-cluster-small div { background-color: rgba(246, 174, 92, 0.58); }

.marker-cluster-medium { background-color: rgba(241, 171, 87, 0.56); }
.marker-cluster-medium div { background-color: rgba(253, 150, 48, 0.53); }

.marker-cluster-large { background-color: rgba(247, 125, 74, 0.85); }
.marker-cluster-large div { background-color: rgb(245, 142, 96); }

.marker-circled { border: 3px solid hsla(0, 50%, 50%, 0.75); border-radius: 30px; width: 20px; height: 20px; }

.fullscreenPagingPaneControl_page-alertsWidget .filterWidget { display: flex; justify-content: space-around; padding: 5px; padding-top: 0;}

/*.geolocationControl {
    background-color: #fff;
    color: hsl(0, 0%, 35%);
    text-align: center;
    font-size: 18px;
    line-height: 32px;
}

.geolocationControl:hover { background-color: #f4f4f4; }
.leaflet-left .leaflet-gmx-icon.geolocationControl { margin-left: 10px; }

.anchorWidget a, .anchorWidget a:hover, .anchorWidget a:visited { text-decoration: none; color: inherit; }

.pageView-item_alerts { padding: 10px; box-sizing: border-box; }*/

.checkboxWidget { padding-right: 5px; color: #fff; font-size: 14px; }
.checkboxWidget .checkboxWidget-checkbox { border: none; width: 24px; height: 24px; line-height: 24px; border-radius: 12px; }
.checkboxWidget-value_ .checkboxWidget-checkbox { background: hsl(30, 10%, 75%); }
.checkboxWidget-value_0 .checkboxWidget-checkbox { background: hsl(0, 70%, 50%); }
.checkboxWidget-value_1 .checkboxWidget-checkbox { background: hsl(30, 75%, 50%); }
.checkboxWidget-value_2 .checkboxWidget-checkbox { background: hsl(150, 100%, 25%); }
.checkboxWidget-value_3 .checkboxWidget-checkbox { background: hsl(30, 10%, 75%); }

.connectionErrorWidget { display: flex; align-items: center; justify-content: center; text-align: center; height: 100%; background: hsl(0, 0%, 95%); }
.connectionErrorWidget .connectionErrorWidget-message { width: 75%; color: hsl(0, 0%, 20%); font-size: 14px; }

.gmxApplication_mobile .leaflet-bar { border: 0; }
.gmxApplication_mobile .leaflet-bar .leaflet-control-zoom-in,
.gmxApplication_mobile .leaflet-bar .leaflet-control-zoom-out { outline: none; width: 40px; height: 40px; line-height: 40px; border-radius: 20px; margin-top: 5px; box-shadow: 0 0 3px hsla(0, 0%, 0%, 0.5); }

.gmxApplication_mobile .leaflet-gmx-loaderStatus { position: static; }
.gmxApplication_mobile * { cursor: default !important; }

.geolocationControl {
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    font-size: 20px;
    background-color: hsl(0,0%,100%);
    border-radius: 20px;
    box-shadow: 0 0 3px hsla(0,0%,0%,0.5);
    text-align: center;
}

.gmxApplication .leaflet-bottom.leaflet-right { display: flex; flex-direction: column-reverse; }
.gmxApplication .leaflet-bottom.leaflet-right.leaflet-top.leaflet-bottom { display: block; }
