html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open sans', Tahomam sans-serif;
}

a { color: hsl(235, 90%, 60%); }
.leaflet-container a { color: hsl(235, 90%, 60%); }
.leaflet-bar a { color: hsl(0, 0%, 20%); }

div { outline: none; }

.crisisMap-headerContainer, .crisisMap-contentContainer { position: absolute; left: 0; right: 0; }
.crisisMap-headerContainer { top: 0px; height: 40px; box-shadow: 0 0 6px hsla(0, 0%, 0%, 0.5); z-index: 2; padding: 0 10px; }
.crisisMap-contentContainer { top: 40px; bottom: 0px; z-index: 1; }

.crisisMap-mapPage { width: 100%; height: 100%; }
.leaflet-container { background-image: url('tiny-grid.png'); }

.ui-widget { font-family: 'Open sans', Tahoma, sans-serif; }
.leaflet-control-container { font-family: 'Open sans', Tahoma, sans-serif; }
.leaflet-gmx-copyrights { font-family: 'Open sans', Tahoma, sans-serif; }

.leaflet-bar { box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.5); border-radius: 4px; }
.leaflet-bar a, .leaflet-bar a:hover { width: 30px; height: 30px; line-height: 30px; }

.leaflet-gmx-zoomParent { top: 0; }
.leaflet-gmx-copyright-location-bg { opacity: 1; }
.leaflet-gmx-copyright-location { box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.5); }
.leaflet-gmx-copyrights { color: hsl(0, 0%, 50%); }

.leaflet-gmx-logo { display: none; }

.crisisMap-headerContainer .radioGroupWidget { width: 100%; height: 100%; }
.crisisMap-headerContainer .radioGroupWidget-item { }
.crisisMap-headerContainer .radioGroupWidget-item_active { border-bottom: 2px solid hsla(0, 50%, 50%, 1); border-top: 2px solid hsla(0, 50%, 50%, 0); }

.leaflet-gmx-copyright-window { background-color: rgba(255, 255, 255, 0.9); border: none; box-shadow: 0 0 8px hsla(0, 0%, 0%, .5); }

.headerNavBar { width: 100%; height: 100%; display: table; }
.headerNavBar-leftContainer, .headerNavBar-centerContainer, .headerNavBar-rightContainer { display: table-cell; vertical-align: middle; text-align: center; }
.headerNavBar-leftContainer, .headerNavBar-rightContainer { width: 40px; }
.headerNavBar-centerContainer { width: auto; }

.headerNavBar .dropdownWidget { font-size: 14px; }
.headerNavBar .radioGroupWidget { max-width: 700px; margin: 0 auto; font-size: 12px; }
.headerNavBar-leftContainer .dropdownWidget-dropdown { text-align: left; }

.headerLayoutButton { font-size: 16px; color: hsl(0, 0%, 20%); cursor: pointer; }

.crisisMap_desktop .alertsCollectionView { padding: 0px; }
.crisisMap_mobile .alertsCollectionView { padding: 5px; padding-left: 10px; }

.crisisMap_mobile .markerItemViewCollapsed, .crisisMap_mobile .markerItemViewExpanded { font-size: 13px; border: none; }
.crisisMap_mobile .markerItemViewExpanded { box-shadow: 0 0 2px hsla(0, 0%, 0%, .5); }

.leaflet-popup-content-wrapper { border-radius: 4px; }

.marker-cluster-small { background-color: rgba(255, 226, 163, 0.62); }
.marker-cluster-small div { background-color: rgba(246, 174, 92, 0.58); }

.marker-cluster-medium { background-color: rgba(241, 171, 87, 0.56); }
.marker-cluster-medium div { background-color: rgba(253, 150, 48, 0.53); }

.marker-cluster-large { background-color: rgba(247, 125, 74, 0.85); }
.marker-cluster-large div { background-color: rgb(245, 142, 96); }

.geolocationControl {
    background-color: #fff;
    color: hsl(0, 0%, 35%);
    text-align: center;
    font-size: 18px;
    line-height: 32px;
}

.geolocationControl:hover { background-color: #f4f4f4; }
.leaflet-left .leaflet-gmx-icon.geolocationControl { margin-left: 10px; }

.marker-circled { border: 3px solid hsla(0, 50%, 50%, 0.75); border-radius: 30px; width: 20px; height: 20px; }

.anchorWidget a, .anchorWidget a:hover, .anchorWidget a:visited { text-decoration: none; color: inherit; }
