html, body, .crisisAlert-map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open sans', Tahomam sans-serif;
}

.ui-widget { font-family: 'Open sans', Tahoma, sans-serif; }
.leaflet-control-container { font-family: 'Open sans', Tahoma, sans-serif; }
.leaflet-gmx-copyrights { font-family: 'Open sans', Tahoma, sans-serif; }

.leaflet-bar { box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.3); border-radius: 4px; }
.leaflet-bar a, .leaflet-bar a:hover { width: 30px; height: 30px; line-height: 30px; }

.leaflet-gmx-zoomParent { top: 0; }
.leaflet-gmx-copyright-location-bg { opacity: 1; }
.leaflet-gmx-copyright-location { box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5); }
.leaflet-gmx-copyrights { color: hsla(0, 0%, 50%); }

.mobileWidgetsContainer-topContainer .radioGroupWidget { width: 100%; height: 100%; }
.mobileWidgetsContainer-topContainer .radioGroupWidget-item { width: 33.3%; }
.mobileWidgetsContainer-topContainer .radioGroupWidget-item_active { border-bottom: 2px solid hsla(0, 50%, 50%, 1); border-top: 2px solid hsla(0, 50%, 50%, 0); }