<div class="mainMenuWidget-section mainMenuWidget-section_about">
    <div class="mainMenuWidget-sectionHeader">
        <%= about %>
    </div>
    <div class="mainMenuWidget-sectionContent">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
</div>
<div class="mainMenuWidget-section mainMenuWidget-section_language">
    <div class="mainMenuWidget-sectionHeader">
        <%= language %>
    </div>
    <div class="mainMenuWidget-sectionContent">
        <div class="mainMenuWidget-languageSection-eng">English</div>
        <div class="mainMenuWidget-languageSection-rus">Русский</div>
    </div>
</div>
<div class="mainMenuWidget-section mainMenuWidget-section_auth">
    <div class="mainMenuWidget-sectionHeader">
        <%= auth %>
    </div>
    <div class="mainMenuWidget-sectionContent">
        <div class="mainMenuWidget-authSection-authvk icon-vk"></div>
        <div class="mainMenuWidget-authSection-authemail icon-mail"></div>
        <div class="mainMenuWidget-authSection-authfb icon-facebook"></div>
    </div>
</div>
