<div class="mainMenuWidget-section mainMenuWidget-section_about">
    <!--<div class="mainMenuWidget-sectionHeader">
        <%= about %>
    </div>-->
    <div class="mainMenuWidget-sectionContent">
    </div>
</div>
<div class="mainMenuWidget-section mainMenuWidget-section_language">
    <div class="mainMenuWidget-sectionHeader">
        <%= language %>
    </div>
    <div class="mainMenuWidget-sectionContent">
        <div class="mainMenuWidget-languageSection-eng">English</div>
        <div class="mainMenuWidget-languageSection-rus">Русский</div>
    </div>
</div>
<div class="mainMenuWidget-section mainMenuWidget-section_auth">
    <div class="mainMenuWidget-sectionHeader">
        <%= auth %>
    </div>
    <div class="mainMenuWidget-sectionContent">
        <div class="mainMenuWidget-authSection-authvk icon-vk"></div>
        <div class="mainMenuWidget-authSection-authemail icon-mail"></div>
        <div class="mainMenuWidget-authSection-authfb icon-facebook"></div>
    </div>
</div>
