.calendarPage { display: flex; flex-direction: column; justify-content: space-around; height: 100%; align-items: center; }

.calendarPage-datepicker { }
.calendarPage-datepickerTitle { text-align: center; font-size: 1em; padding-bottom: .5em; }
.calendarPage-datepickerInput { font-size: 1.5em; text-align: center; }

.calendarPage .ui-datepicker {
    width: 20em;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
